@import url('normalize.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Noto+Serif+KR:wght@400;700&display=swap');

/*
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Noto Serif KR', serif;
 */

/* ---------------LAYOUT--------------- */
body, .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    background: rgba(104, 116, 104, 0.637);
}
.shadow {
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.658);
}
/* ---------------TYPOGRAPHY --------------- */
body {
    font: 18px/28px 'Noto Serif KR', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans', sans-serif;
}
/* ---------------LINK & BUTTON--------------- */
.btn {
    border: 1px solid #fff;
    padding: 0 30px;
    line-height: 50px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background: none;
}
a {
    padding: 0 20px;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: rgba(44, 24, 63, 0.925);
    border: 1px solid rgba(44, 24, 63, 0.925);
    font-weight: bold;
}
/* ---------------FORM --------------- */
label {
    display: none;
}
input {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0 8px;
    display: inline-block;
    line-height: 50px;

}
textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0 8px;
    display: inline-block;
    min-height: 100px;

}
/* ---------------HEADER --------------- */
header {
    height: 100vh;
    background: url(../image/header_bg.jpg) no-repeat center top/cover;
    position: relative;
    margin: 0 auto;
}
header::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(8, 27, 5, 0.479);
    z-index: 1;
}
header #slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 10px solid #fff;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 70px 50px;
    /* color: #fff; */
    z-index: 2;
}
header #slogan h1 {
    font-size: 100px;
    line-height: 110px;
    margin-bottom: 20px;
    text-transform: uppercase;   
}
header #slogan p {
    font-size: 24px;
    font-weight: bold;    
    text-transform: uppercase;
}
/* ---------------ABOUT US --------------- */
.about_us {
    height: 100vh;
    background: url(../image/about_us.jpg) no-repeat center top/cover;
    position: relative;
    margin: 0 auto;
}
.wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(162, 170, 161, 0.418);
    box-sizing: border-box;
    padding: 210px 0;
    text-align: center;
}
.main-tt {
    font-size: 80px;
    line-height: 1; 
    position: relative;
    margin-bottom: 32px;
    z-index: 2;
}
.main-tt:after {
    content: " ";
    position: absolute;
    width: 170px;
    height: 3px;    
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 3px);
}
.about_us p {
    width: 470px;
    margin: 0 auto 28px;

}
/* ---------------PROGRAMS --------------- */
.programs {
    text-align: center;
    padding: 150px 0;
    background: url(../image/programs.jpg) no-repeat center top/cover;
    position: relative;
}
.programs_bg {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(112, 114, 111, 0.377);
    z-index: 1;
}
.programs ul {
    position: relative;
    list-style: none;
    display: inline-block;
    /* margin: 0 60px; */
    /* color: black; */
    z-index: 2;
}
.programs ul li {
    width: 33.333%;
    padding: 0 60px;
    box-sizing: border-box;
    float: left;    
}
.programs ul li:nth-child(2) {
    position: relative;
    top: 56px; /* = transform: translateY(56px); */
}
.programs ul li > img {
    width: 100%;
    margin-bottom: 28px;
}
.programs ul li h3 {
    font-size: 22px;
    position: relative;
    margin-bottom: 25px;
    font-family: 'Noto Serif KR', serif;
    
} 
.programs ul li h3:after {
    content: " ";
    position: absolute;
    left: 0; 
    right: 0;
    top: 39px;
    border: 1px solid #fff;
}
.programs ul li p {
    margin-bottom: 23px;
}
.programs ul:after::after {
    content: " ";
    display: block;
    clear: both;
}

/* ---------------CONTACT --------------- */
.contact {
    text-align: center;
    position: relative;
    height: 100%;
}
.contact img {
    position: absolute;
    top: 0;
    left: 0;
}


/* ---------------FOOTER --------------- */