@import url('normalize.css');
@import url('reset.css');

/* ---------------LAYOUT--------------- */
.wrap {
    width: 1300px;
    margin: 0 auto;
}
body {
    background: #1d1d1d;
    color: #fff;
}
/* ---------------TYPOGRAPHY --------------- */
/* ---------------LINK & BUTTON--------------- */
/* ---------------FORM --------------- */
/* ---------------ABOUT US --------------- */
/* ---------------PROGRAMS--------------- */
/* ---------------CONTACT --------------- */
/* ---------------FOOTER --------------- */